{% extends 'Store/layout.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head %}
<link href="{% static "css/bookstyle.css" %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block nav %}
<div class="nav-wrapper teal">
    <form action="">
        <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>            
    </form>
</div>
{% endblock %}

{% block content %}
>
<h4>Books</h4>

<table>
    <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Publisher</th>                       
        </tr>
    </thead>
    <tbody>                
        {% for book in books %}
        <tr>
            <td><a href="books/details/{{ book.book_id }}">{{ book.title }}</a></td>  
            <td>{{book.author.last_name}}, {{book.author.first_name}}</td>
            <td>{{book.publisher.company_name}}</td>                             
        </tr>
        {% endfor %}          
    </tbody>    
</table>
<div class="section">    
</div>

{% endblock %}