{% extends 'Store/layout.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block nav %}
  {% if user_id is none %}
    <li>You are currently logged out</li>
  {% else %}
    <li><b>Greetings, {{username}}</li>
  {% endif %}
{% endblock %} 

{% block content %}
<h6>
<form method="POST" name='go-back'>
<a href='customeraccount'> Return to Account Overview</a>
</form>
</h6>

<form method="POST" class="col s6 m6" >
        {% csrf_token %} 
        {{ addcard.non_field_errors }}
        
            <h4>Add New Credit Card</h4>
            <div class="input-field  col s6 m6">
                {{addcard.card_number.errors}}
                <label for="{{ addcard.card_number.id_for_label }}">Credit Card Number</label>
                {{addcard.card_number}}
            </div>
            <div class="input-field  col s4">
                {{addcard.cvc.errors}}
                <label for="{{ addcard.cvc.id_for_label }}">CVC</label>
                {{addcard.cvc}}
            </div>
            <div class="input-field  col s6">
                    {{addcard.expir_date.errors}}
                    <label for="{{ addcard.expir_date.id_for_label }}">Expiration Date</label>
                    {{addcard.expir_date|add_class:"datepicker" }}
                </div>
            <div class="input-field  col s6">
                {{addcard.card_issuer.errors}}
                <label for="{{ addcard.card_issuer.id_for_label }}">Card Issuer</label>
                {{addcard.card_issuer}}
            </div>
            {{ billingAddress.non_field_errors }}
            <div class="input-field  col s6">
                    {{billingAddress.addresss.card_issuer.errors}}
                    {{billingAddress.addresss.card_issuer}}
                </div>

    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    <button type="submit" class="modal-action waves-effect waves-green btn-flat" name="add-card">Add</button>

</form>
<script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/books.js" %}"></script> 
{% endblock %}