{% extends 'Store/layout.html' %} 
{% load staticfiles %} 
{% load widget_tweaks %} 
{% block head %}
<link href="{% static " css/checkout.css " %}" type="text/css" rel="stylesheet"> 
{% endblock %} 
{% block nav %} 
{% if user_id is none %}
<li>You are currently logged out</li>
{% else %}
<li>
    <b>Greetings, {{ username }}!</b>
</li>
{% endif %} {% endblock %} {% block content %}
<h3>Address Information</h3>
<div class="row">
<div class="col s12 m7">
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    
                </span>
                <table>
                    <tr>
                        <thead>
                            <td>Address</td>
                            <td>Address Type</td>
                        </thead>
                    </tr>
                    {% for ca in caddress %}
                    <tr>
                        <td>
                            <form request="POST" name="address-detail">
                                <a href="caddressaccount/{{ca.address_id}}">{{ca.street}} {{ca.city}}, {{ca.state_code}} {{ca.zip_code}}</a>
                            </form>
                        </td>
                        <td>{{ca.address_type}} </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="card-action">
                    <a class="modal-trigger btn " href="#addAddress">
                        <i class=" material-icons">add_box</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addAddress" class="modal">
        <form method="POST" class="col s12">
            {% csrf_token %} {{ aaddress.non_field_errors }}
            <div class="modal-content">
                <div class="input-field col s6">
                    {{ aaddress.street.errors }}
                    <label for="{{ aaddress.street.id_for_label }}">Street</label>
                    {{ aaddress.street }}
                </div>
                <div class="input-field col s6">
                    {{ aaddress.city.errors }}
                    <label for="{{ aaddress.city.id_for_label }}">City</label>
                    {{ aaddress.city }}
                </div>
                <div class="input-field col s6">
                    {{ aaddress.state_code.errors }} {{ aaddress.state_code }}
                    <label>State</label>
                </div>
                <div class="input-field col s6">
                    {{ aaddress.zip_code.errors }}
                    <label for="{{ aaddress.zip_code.id_for_label }}">Zip Code</label>
                    {{ aaddress.zip_code }}
                </div>
                <div class="input-field col s6">
                    {{ aaddress.address_type.errors }} {{ aaddress.address_type }}
                    <label>Address Type</label>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                <button type="submit" class="modal-action waves-effect waves-green btn-flat" name="add-address">Add</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/books.js" %}"></script> {% endblock %}