{% extends 'Store/layout.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block nav %}
  {% if user_id is none %}
    <li>You are currently logged out</li>
  {% else %}
    <li><b>Greetings, {{ username }}!</b></li>
  {% endif %}
{% endblock %} 
{% block content %}

<div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
                <span class="card-title align=center"><h4>Address Information</h4></span>
                <h6>
                <ul>
                  <li>{{address.street }} </li>
                  <li>{{address.city}}, {{address.state_code}} {{address.zip_code}}</li>
                  <li>Address Type: {{address.address_type}}</li>
                </ul>
                </h6>
            </div>
            <div class="card-action">
                <a class="modal-trigger waves-effect waves-light btn"href='#editAddress'>Update</a>
                <a class="modal-trigger waves-effect waves-light btn"href='#deleteAddress'>Delete</a>
            </div> 
          </div>
        </div>
    {% if address.address_type == 'Billing' %}
    <div class="col s12 m6">
    <div class="card">
        <div class="card-content">
            <span class="card-title align=center"><h4>Cards Attached to Billing Address <Address></Address></h4></span>
            <h6>
            {% for p in payment %}
            <table>
                <tr> 
                    <td>{{p.card_issuer}} ending in {{p.last_four}} </td>
                    <td><a class="modal-trigger " href='#deleteCard{{p.address_id}}'><i class=" tiny material-icons">close</i></a></td>
                </tr>
            </table>
            {% endfor %}
            </h6>
        </div>
        <div class="card-action">
            <a class="modal-trigger btn " href="#addCard"><i class=" material-icons">add_box</i></a>
        </div> 
    </div>
    </div>
    
    {% elif address.address_type == 'Shipping' %}
    <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
              <span class="card-title align=center"><h4>Orders Shipped to Address </h4></span>
              <table>
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Total Price</th>
                        <th> Date Ordered </th>
                    </tr>
                </thead>
                <tbody>
                        {% for order in orders %}
                        <tr>
                            <td><a href="{% url 'customerorder' order.order_id %}" >{{ order.order_id }}</a></td>       
                            <td>{{ order.total_price}}</td> 
                            <td>{{ order.date_ordered}}</td>           
                        </tr>
                        {% endfor %}
                    </form>           
                </tbody>
            </table>
              
          </div>
        </div>
        </div>
        {% endif %}
</div>

<div id="editAddress" class="modal">
    <form method="POST" class="col s6" >
    {% csrf_token %} 
    {{ eaddress.non_field_errors }}
    <div class="modal-content">
        <h3> Edit Address:</h3>
        <div class="input-field col s6">
            {{ eaddress.street.errors }}
            <label for="{{ eaddress.street.id_for_label }}">Street</label>
            {{ eaddress.street }}
        </div>
        <div class="input-field col s6">
            {{ eaddress.city.errors }}
            <label for="{{ eaddress.city.id_for_label }}">City</label>
            {{ eaddress.city }}
        </div>
        <div class="input-field col s6">
            {{ eaddress.state_code.errors }}                        
            {{ eaddress.state_code }}
            <label>State</label>       
        </div>
        <div class="input-field col s6">
            {{ eaddress.zip_code.errors }}
            <label for="{{ eaddress.zip_code.id_for_label }}">Zip Code</label>
            {{ eaddress.zip_code }}       
        </div>
        <div class="input-field col s6">
            {{ eaddress.address_type.errors }}
            {{ eaddress.address_type }}    
            <label>Address Type</label>   
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <button type="submit" class="modal-action waves-effect waves-green btn-flat" name="edit-address">Update</button>
    </div>
    </form>
</div> 

<div id="deleteAddress{{address.address_id}" class="modal">
    <form method="POST" class="col s6" >
        {% csrf_token %} 
        {{ daddress.non_field_errors }}
        <div class="modal-content">
            <h3>Confirm Address Delete</h3>
            <div class="input-field  col s6">
                {{daddress.address_id.errors}}
                <input type="hidden" name="address_id" value="{{address.address_id}}">
                {{daddress.address_id.errors}}
            </div>
                <h4>
                <ul>
                    <li> {{address.street}}</li>
                    <li> {{address.city}}, {{address.state_code}} {{address.zip_code}}</li>
                    <li>Address Type: {{address.address_type}}</li>
                </ul>
            </h4>
            <h6> Notice Cannot Delete Address with Credit Cards on File for Address</h6>
        </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <button type="submit" class="modal-action waves-effect waves-green btn-flat" name="delete-address">Delete</button>
    </div>
    </form>
</div>

<div id="addCard" class="modal">
    <form method="POST" class="col s6" >
                {% csrf_token %} 
                {{ apayment.non_field_errors }}
                <div class="modal-content">
                    <h4>Add New Credit Card</h4>
                    <div class="input-field  col s6">
                        {{apayment.card_number.errors}}
                        <label for="{{ apayment.card_number.id_for_label }}">Credit Card Number</label>
                        {{apayment.card_number}}
                    </div>
                    <div class="input-field  col s6">
                        {{apayment.cvc.errors}}
                        <label for="{{ apayment.cvc.id_for_label }}">CVC</label>
                        {{apayment.cvc}}
                    </div>
                    <div class="input-field  col s6">
                        {{apayment.expir_date.errors}}
                        <label for="{{ apayment.expir_date.id_for_label }}">Expiration Date</label>
                        {{apayment.expir_date|add_class:"datepicker" }}
                    </div>
                    <div class="input-field  col s6">
                        {{apayment.card_issuer.errors}}
                        <label for="{{ apayment.card_issuer.id_for_label }}">Card Issuer</label>
                        {{apayment.card_issuer}}
                    </div>
                </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            <button type="submit" class="modal-action waves-effect waves-green btn-flat" name="add-card">Add</button>
        </div>
    </form>
</div>
<script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/books.js" %}"></script> 
{% endblock %}