{% extends 'Store/layout.html' %} 
{% load staticfiles %} 
{% load widget_tweaks %} 

{% block head %}
<link href="{% static "css/checkout.css" %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
<nav class="clean">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="{% url 'cart' %}" class="breadcrumb">Cart</a>
            <a href="{% url 'ship_pay' %}" class="breadcrumb">Shipping & Payment</a> 
            <a href="#!" class="breadcrumb">Place Order</a>            
        </div>            
    </div>
</nav>

<div class="section"></div>
<div class="row">
    <div class="col s6">
        {{payment_choice}}
    </div>
    <div class="col s6">
        {{shipping_choice}}
    </div>
</div>

{% endblock %}