{% extends 'Store/layout.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head %}

{% endblock %}
{% block content %}

<h4>Order #{{order.order_id}}</h4>

<div class="row">
    <div class="col s12 m5">
            <div class="card medium">
                <div class="card-content">
                    <span class="card-title"><b>Order Overview</b></span>
                    <h6><b>Status:</b> {{ order.status }}</h6>
                    <table>
                        <tbody>
                            {% if original_price %}
                            <tr>
                                <td><b>Date Ordered:</b></td>
                                <td>{{ order.date_ordered }}</td>
                            </tr>
                            <tr>
                                <td><b>Original Price:</b></td>
                                <td>${{ original_price }}</td>                            
                            </tr>
                            <tr>
                                <td><b>Discount:</b></td>
                                <td>{{ discount }}%</td>
                            </tr>
                            <tr>
                                <td><b>Total Price:</b></td>
                                <td>${{ order.total_price }}</td>                                
                            </tr>
                            <tr>
                                <td><b>Money Saved:</b></td>
                                <td><span class="green-text">${{ money_saved }}</span></td>
                            </tr>
                            {% else %}
                            <tr>
                                <td><b>Date Ordered:</b></td>
                                <td>{{ order.date_ordered }}</td>
                            </tr>
                            <tr>
                                <td><b>Total Price:</b></td>
                                <td>${{ order.total_price }}</td>                                
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>                            
                </div>       
            </div>
        </div>
    <div class="col s12 m5">
        <div class="card medium">
            <div class="card-content">
                <span class="card-title"><b>Books on Order</b></span>
                <table>
                        <thead>
                            <tr>
                                <th>Book </th>
                                <th> Quantity Ordered</th> 
                            </tr>
                        </thead>
                        <tbody>
                                {% for book in bookorder %}
                                <tr>
                                    <td>{{book.book.title}}</td> 
                                    <td>{{book.quantity}}</td>        
                                </tr>
                                {% endfor %}
                            </form>           
                        </tbody>
                    </table>
            </div>       
        </div>
        </div>
    </div>
    <div class="row">
            <div class="col s12 m5">
                    <div class="card small">
                        <div class="card-content">
                            <span class="card-title"><b>Payment Info</b></span>
                            <div class="row">
                                <div class="col s6">
                                    <ul>
                                        <li><b>Credit Card:</b></li>
                                        <li>"{{order.card.card_issuer}}" card ending in {{order.card.last_four}}</li>
                                    </ul>                                    
                                </div>
                                <div class="col s6">
                                    <ul>
                                        <li><b>Billing Address:</b></li>
                                        <li>{{billing.billing_address.street}}</li>
                                        <li>{{billing.billing_address.city}}, {{billing.billing_address.state_code}} {{billing.billing_address.zip_code}}</li>
                                    </ul>
                                </div>
                            </div>                                                            
                        </div>       
                    </div>
                </div>
            <div class="col s12 m5">
                <div class="card small">
                    <div class="card-content">
                        <span class="card-title"><b>Shipping Address</b></span>
                        <ul>
                            <li>{{order.shipping_address.street}}</li>
                            <li>{{order.shipping_address.city}} {{order.shipping_address.state_code}} {{order.shipping_address.zip_code}} </li>
                        </ul>
                    </div>       
                </div>
                </div>
            </div>
    
<script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/books.js" %}"></script>
{% endblock %}