{% extends 'Store/layout.html' %} 
{% load staticfiles %} 
{% load widget_tweaks %} 

{% block content %}
<h4> Orders</h4>

<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Total Price</th>
            <th>Date Ordered </th>
            
        </tr>
    </thead>
    <tbody>
            {% for order in orders %}
            <tr>
                <td><a href="{% url 'customerorder' order.order_id %}">{{order.order_id}}</a></td>
                <td>{{ order.total_price}}</td> 
                <td>{{ order.date_ordered}}</td>
                          
            </tr>
            {% endfor %}
        </form>           
    </tbody>
</table>


<script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/books.js" %}"></script>
{% endblock %}