{% extends 'Store/layout.html' %} 
{% load staticfiles %} 
{% load widget_tweaks %} 
{% load store_extras %}

{% block head %}
<link href="{% static "css/checkout.css" %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block nav %}
  {% if user_id is none %}
    <li>You are currently logged out</li>
  {% else %}
    <li>Greetings, {{username}}</li>
  {% endif %}
{% endblock %} 

{% block content %}
<div id="invoice" class="section">
    <div class="invoice-header">
        <div class="row section">
            <div class="invoice-lable">
                <div class="row">
                    <div class="col s12 m3 l3">
                        <h4 class="orange-text">Invoice</h4>
                    </div>                    
                    <div class="col s12 m3 l3">
                        <p class="strong">Total Due:</p>
                        {% if discounted_price %}
                        <h5 class="header">${{ discounted_price }}</h5>
                        {% else %}
                        <h5 class="header">${{ order.total_price }}</h5>
                        {% endif %}
                    </div>
                    <div class="col s12 m3 l3">
                        <p class="strong">Invoice No:</p>
                        <h5 class="header">{{ order.order_id }}</h5>
                    </div>
                    <div class="col s12 m3 l3">
                        <p class="strong">Date Ordered:</p>
                        <h5 class="header">{{ order.date_ordered }}</h5>
                    </div>                      
                </div>
            </div>
            <div class="col s12 m6 l6">
                <p>                                
                    <br/>
                    <span class="strong">{{ order.customer.first_name }} {{ order.customer.last_name }}</span>
                    <br/>
                    <span>{{ payment_info.billing_address.street }}</span>
                    <br/>
                    <span>{{ payment_info.billing_address.city }}, {{ payment_info.billing_address.state_code }} {{ payment_info.billing_address.zip_code }}</span>                                        
                </p>
            </div>
            <div class="col s12 m6 l6">
                <div class="right-align">                    
                    <p>
                        <span class="strong">Bookish Company</span>
                        <br/>
                        <span>125, ABC Street</span>
                        <br/>
                        <span>New York, NY 10010</span>
                        <br/>
                        <span>+1 (800) 722-1020</span>
                    </p>
                </div>

                <div class="invoce-company-contact right-align">            
                    <p>
                        <span class="strong">www.bookish.com</span>
                        <br/>
                        <span>customerSupport@bookish.com</span>                
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="invoice-table">
        <div class="row">
            <div class="col s12 m12 l12">
                <table class="striped">
                <thead>
                    <tr>
                    <th data-field="no">No</th>
                    <th data-field="item">Book</th>
                    <th data-field="uprice">Unit Price</th>
                    <th data-field="price">Unit</th>
                    <th data-field="price">Total</th>
                    </tr>
                </thead>                      
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ book.book.title }}</td> 
                        <td>{{ book.book.inventory.retail_price }}</td>
                        <td>{{ book.quantity }}</td>
                        <td>{% multiply book.book.inventory.retail_price book.quantity %}</td>                            
                    </tr>
                    {% endfor %}                 
                    {% if original_price %}
                    <tr>
                        <td></td>                                                                        
                        <td></td>
                        <td></td>
                        <td><b>Subtotal:</b></td>
                        <td><h6 class="grey-text strike">${{ original_price }}</h6></td>
                    </tr>
                    <tr>
                        <td></td>                                                                        
                        <td></td>
                        <td></td>
                        <td><b>Discounted Price:</b></td>
                        <td><h6>${{ order.total_price }}</h6></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td></td>                                                
                        <td></td>
                        <td></td>
                        <td><b>Subtotal:</b></td>
                        <td><h6>${{ order.total_price }}</h6></td>
                    </tr>                
                    {% endif %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="invoice-footer">
        <div class="row section">
            <div class="col s12 m6 l6">            
                <b>Terms & Conditions</b>
                <ul>
                    <li>Bookish books is not liable for any damage to product(s) during shipment.</li>
                    <li>Deal with it.</li>
                </ul>
            </div>        
        </div>
    </div>
</div>
{% endblock %}