{% extends 'Store/layout.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block nav %}
  {% if user_id is none %}
    <li>You are currently logged out</li>
  {% else %}
    <li><b>Greetings, {{username}}</li>
  {% endif %}
{% endblock %} 
{% block head %}
<link href="{%  static "css/bookstyle.css" %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="row banner valign-wrapper">
  <form method="POST" class="col s12">
    {% csrf_token %} {{ loginform.non_field_errors }}
    <div class="col s6 offset-s3">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">
            <b>Sign in</b> {{text}}
          </span>
          <div class="row">
            <div class="input-field col s8">
              {{ loginform.username.errors }}
              <label for="{{ form.username.id_for_label }}">Username</label>
              {{ loginform.username }}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s8">
              {{ loginform.password.errors }}
              <label for="{{ form.username.id_for_label }}">Password</label>
              {{ loginform.password }}
            </div>
          </div>
        </div>
        <div class="card-action">          
          <button type="submit" class="modal-action waves-effect waves-green btn-flat" name="login-user">Login</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row center-align">
    <p>New to Bookish?</p>
  <a class="waves-effect waves-light modal-trigger btn" href="#newcustomer">Register</a>    
</div>

<div id="newcustomer" class="modal">
  <form method="POST" class="col s12">
    {% csrf_token %} {{ registerform.non_field_errors }}
    <div class="modal-content">
      <h4>Register</h4>
          <div class="input-field col s4">
            {{registerform.first_name.errors}}
            <i class="material-icons prefix">account_circle</i>
            <label for="{{registerform.first_name.id_for_label}}">First Name</label>
            {{registerform.first_name}}
          </div>
          <div class="input-field col s4">
            {{registerform.last_name.errors}}
            <label for="{{registerform.last_name.id_for_label}}">Last Name</label>
            {{registerform.last_name}}
          </div>
          <div class="input-field col s4">
            {{registerform.username.errors}}
            <i class="material-icons prefix">broken_image</i>
            <label for="{{registerform.username.id_for_label}}">username</label>
            {{registerform.username}}
          </div>
          <div class="input-field col s6">
            {{registerform.email.errors}}
            <i class="material-icons prefix">email</i>
            <label for="{{registerform.email.id_for_label}}">E-mail</label>
            {{registerform.email}}
          </div>
          <div class="input-field col s6">
            {{registerform.password.errors}}
            <i class="material-icons prefix">broken_image</i>
            <label for="{{registerform.password.id_for_label}}">password</label>
            {{registerform.password}}
          </div>
          <div class="input-field col s6">
              {{registerform.work_phone.errors}}
              <i class="material-icons prefix">broken_image</i>
              <label for="{{registerform.work_phone.id_for_label}}">work phone</label>
              {{registerform.work_phone}}
          </div>
          <div class="input-field col s6">
              {{registerform.home_phone.errors}}
              <i class="material-icons prefix">broken_image</i>
              <label for="{{registerform.home_phone.id_for_label}}">home phone</label>
              {{registerform.home_phone}}
            </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <button type="submit" class="modal-action waves-effect waves-green btn-flat" name="create-user" href="customer/login.html">Submit</button>
    </div>
  </form>
</div>

<script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/books.js" %}"></script> 
{% endblock %}