{% extends 'Store/layout.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Customer Name</th>
            
        </tr>
    </thead>
    <tbody>
    {% for c in customers %}
        <tr>
            <td><a href="customers/details/{{c.customer_id}}">{{c.customer_id}}</a></td>  
            <td> {{c.user.first_name}} {{c.user.last_name}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}