{% extends 'Store/layout.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block nav %}
  {% if user_id is none %}
    <li>You are currently logged out</li>
  {% else %}
    <li>Greetings, {{username}}</li>
  {% endif %}
{% endblock %} 
{% block head %}
<link href="{%  static "css/bookstyle.css" %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block content %}
<h6>
<a href='{% url 'adminindex' %}'><i class=" material-icons medium">keyboard_return</i> Return to Admin Management</a>
</h6>
<h4>Customers</h4>
<table>
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Active/Deactive Account</th>
        </tr>
    </thead>
    <tbody>
    {% for c in customers %}
        <tr>
            <td><a href="customers/details/{{c.customer_id}}">{{c.customer_id}}</a></td>  
            <td> {{c.user.first_name}} {{c.user.last_name}}</td>
            {% if c.user.is_active == 1 %}
            <td> activated</td>
            {% else %}
            <td> deactivated</td>
            {% endif %}
            
        </tr>
    {% endfor %}
    </tbody>
</table> <br>
<a href="{%  url 'admincustomerstates' %}"><i class=" material-icons small">map</i> View Customers By State </a> &nbsp; &nbsp; &nbsp; &nbsp;
<a href="{%  url 'admincustomerrepeat' %}"><i class=" material-icons small">repeat</i> View Repeat Customers </a>

<script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/books.js" %}"></script> 
{% endblock %}