{% extends 'Store/layout.html' %}
{% block content %}
<h3>{{customer.user.first_name}} {{customer.user.last_name}}</h3>
<div class="row">
        <div class="col s12 m6">
          <div class="card  grey lighten-3">
            <div class="card-content black-text">
              <span class="card-title">General Customer Information</span>
              
                  CustomerID: {{customer.customer_id}} <br>
                  Username: {{customer.user.username}} <br>
                  E-mail: {{customer.user.email}} <br>
                  Last Login: {{customer.user.last_login}} <br>
                  Is Active:{% if customer.user.is_active == 1 %} Active {% else %} Inactive{% endif %}
            </p>
            </div>
            <div class="card-action">
                <a href="#">{% if customer.user.is_active == 1 %} Deactivate{% else %} Activate{% endif %}</a>
              </div>
          </div>
        </div>
{% endblock %}
