{% extends 'Store/layoutadmin.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head %}
<link href="{%  static "css/bookstyle.css" %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block content %}
<h1 align="middle">Admin Management Page</h1>
<div class="row section">
  <div class="row">
    <div class="col s6">
      <a href="{% url 'adminbookindex' %}"><i class="material-icons">book</i>  Books</a>
    </div>
    <div class="col s6">
      <a href="{% url 'admincustomerindex' %}"><i class="material-icons">account_circle</i>  Customers</a>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <a href="{% url 'admininventoryindex' %}"><i class="material-icons">collections_bookmark</i>  Inventory</a>
    </div>
    <div class="col s6">
      <a href="{% url 'adminpublisherindex' %}"><i class="material-icons">bookmark</i>  Publishers</a>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <a href="{% url 'adminorderindex' %}"><i class="material-icons">receipt</i>  Orders</a>
    </div>
    <div class="col s6">
      <a href="{% url 'adminauthorindex' %}"><i class="material-icons">mode_edit</i>  Authors</a>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <a href="{% url 'admingenreindex' %}"><i class="material-icons">filter_list</i>  Genres</a>
    </div>
    <div class="col s6">
      <a href="{% url 'adminreportindex' %}"><i class="material-icons">reorder</i>  Reports</a>
    </div>
  </div>
</div>
{% endblock %}