{% extends 'Store/layout.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block nav %}
  {% if user_id is none %}
    <li>You are currently logged out</li>
  {% else %}
    <li><b>Greetings, {{username}}</li>
  {% endif %}
{% endblock %} 

{% block head %}
<link href="{% static "css/bookstyle.css" %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block content %}
<form method="POST" name='go-back'>
    {% csrf_token %} 
<button type="submit" class="modal-action waves-effect waves-green btn-flat" name="return">
    <i class=" material-icons medium">keyboard_return</i>
    Return to Admin Management Page</button>
</form>
<h4>Publishers</h4>
<table>
    <thead>
        <tr>
            <th>Publisher</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <form method="POST">
            {% csrf_token %}
            {% for publisher in publishers %}
            <tr>
                <td><a href="publisher/details/{{ publisher.publisher_id }}">{{ publisher.company_name }}</a></td>              
                <td><a id="edit-genre" href="publisher/details/{{ publisher.publisher_id}}"><i class="material-icons">edit</i></a></td>
                <td><button id="submit-link" type="submit" name="delete-publisher"><i class="material-icons">delete</i></button></td>
            </tr>
            {% endfor %}
        </form>           
    </tbody>
</table>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large modal-trigger" href="#addpublisher">
        <i class="large material-icons">add</i>
    </a>
</div>
<script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/books.js" %}"></script>
{% endblock %}