.slider .slides li .slider-image {
    height: 100%;
    background-size: 20% auto;
    background-repeat: no-repeat;
}

.card {
    height: 300px;
    /* width: 300px; */
}
/* 
.card .card-content {
    width: 25%; 
} */

.card .card-image {
    max-width: 60%; 
}

.card .card-image img {
    height: 100%;
    width: auto;
    margin: left;
    display: block;
}
