.brand-logo {
    margin-left: 10px;
}

html, body, .container {
    height: 100%;
}

.banner {
    height: 50vh;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}