{% extends 'Store/layout.html' %}
{% load staticfiles %}
{% load widget_tweaks %} 

{% block head %}
<link href="{% static "css/bookstyle.css" %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}

<a href="{% url 'adminindex' %}" class="waves-effect waves-green btn-flat">
    <i class="material-icons medium">keyboard_return</i>Return to Admin Management Page</a>
<div class="section">
    <div class="row">
        <div class="col s2">
            <h4><i class="material-icons small">book</i> Books</h4>
        </div>
        <div class="col s4">
            <nav>
                <div class="nav-wrapper grey lighten-2">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Book ({{ num_books }})</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Genre</th>
            <th>Cost / Price</th>
            <th>On Hand</th>
            <th>Ordered</th>
            <th></th>
        </tr>
    </thead>
    <tbody>                
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>  
            <td>{{ book.author.last_name }}, {{ book.author.first_name }}</td>
            <td>{{ book.publisher.company_name }}</td>
            <td>{{ book.genre.genre }}</td>                                
            <td>${{ book.inventory.cost }} / ${{ book.inventory.retail_price }}</td>
            <td>{{ book.inventory.quantity_on_hand }}</td>
            <td>{{ book.inventory.quantity_ordered }}</td>
            <td><a href="books/details/{{ book.book_id }}"><i class="material-icons">edit</i></a></td>
        </tr>
        {% endfor %}                   
    </tbody>
    {{notification}}
</table>
<div class="section"></div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large modal-trigger" href="{% url 'adminaddbook' %}">
        <i class="large material-icons">add</i>
    </a>
</div>



<script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/books.js" %}"></script>
{% endblock %}