{% extends 'Store/layout.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head %}
<link href="{% static "css/bookstyle.css" %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
<h4>Books</h4>
<table>
    <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Publisher</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <form method="POST">
            {% csrf_token %}
            {% for book in books %}
            <tr>
                <td><a href="books/details/{{ book.bookID }}">{{ book.title }}</a></td>  
                <td>{{book.author.last_name}}, {{book.author.first_name}}</td>
                <td>{{book.publisher.company_name}}</td>                
                <td><a id="edit-book" href="books/details/{{ book.bookID }}"><i class="material-icons">edit</i></a></td>
                <td><button id="submit-link" type="submit" name="delete-book" value="{{ book.bookID }}"><i class="material-icons">delete</i></button></td>
            </tr>
            {% endfor %}
        </form>           
    </tbody>
</table>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large modal-trigger" href="#addbook">
        <i class="large material-icons">add</i>
    </a>
</div>

<div id="addbook" class="modal">
    <form method="POST" class="col s12">
        {% csrf_token %}
        {{ bookform.non_field_errors }}            
        <div class="modal-content">
            <h4>Add Book</h4>
            <div class="row">            
                <div class="row">
                    <div class="input-field col s6">
                        {{ bookform.title.errors }}
                        <label for="{{ bookform.title.id_for_label }}">Book Title</label>
                        {{ bookform.title }}
                    </div>
                    <div class="input-field col s5">                
                        {{ bookform.authors.errors }}
                        {{ bookform.authors }}
                        <label>Author</label>
                    </div>
                    <div class="col s1">
                        <a href="" class="btn-floating btn-small waves-effect"><i class="material-icons">add</i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ bookform.isbn10.errors }}
                        <label for="{{ bookform.isbn10.id_for_label }}">ISBN10</label>
                        {{ bookform.isbn10 }}
                    </div>
                    <div class="input-field col s6">
                        {{ bookform.isbn13.errors }}
                        <label for="{{ bookform.isbn13.id_for_label }}">ISBN13</label>
                        {{ bookform.isbn13 }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        {{ bookform.copyright_date.errors }}
                        <label for="{{ bookform.copyright_date.id_for_label }}">Copyright Date</label>
                        {{ bookform.copyright_date|add_class:"datepicker" }}
                    </div>
                    <div class="input-field col s4">
                        {{ bookform.edition.errors }}
                        <label for="{{ bookform.edition.id_for_label }}">Edition</label>
                        {{ bookform.edition }}
                    </div>
                    <div class="input-field col s3">
                        {{ bookform.publishers.errors }}
                        {{ bookform.publishers }}
                        <label>Publisher</label>
                    </div>
                    <div class="col s1">
                        <a href="#addpublisher" class="btn-floating btn-small waves-effect modal-trigger"><i class="material-icons">add</i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        {{ bookform.book_type.errors }}
                        <label for="{{ bookform.book_type.id_for_label }}">Book Type</label>
                        {{ bookform.book_type }}
                    </div>
                    <div class="input-field col s4">
                        {{ bookform.num_pages.errors }}
                        <label for="{{ bookform.num_pages.id_for_label }}">Number of Pages</label>
                        {{ bookform.num_pages }}
                    </div>                    
                    <div class="input-field col s3">
                        {{ bookform.genres.errors }}
                        {{ bookform.genres }}                        
                        <label>Genre</label>
                    </div>
                    <div class="col s1">                        
                        <a href="" class="btn-floating btn-small waves-effect"><i class="material-icons">add</i></a>                                
                    </div>
                </div>                                
            </div>
        </div>
        <div class="modal-footer">            
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            <button type="submit" class="modal-action waves-effect waves-green btn-flat" name="create-book">Submit</button>
        </div>
    </form>
</div>

<div id="addpublisher" class="modal">
    <form method="POST" class="col s12">
        {% csrf_token %}
        {{ publisherform.non_field_errors }}            
        <div class="modal-content">
            <h4>Add Publisher</h4>
            <div class="row">
                <div class="row">
                    <div class="input-field col s6">
                        {{ publisherform.company_name.errors }}
                        <label for="{{ pubilsherform.company_name.id_for_label }}">Company Name</label>
                        {{ publisherform.company_name }}       
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">            
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            <button type="submit" class="modal-action waves-effect waves-green btn-flat" name="create-publisher">Submit</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/books.js" %}"></script>
{% endblock %}