{% extends 'Store/layout.html' %} 
{% load staticfiles %} 
{% load widget_tweaks %} 

{% block head %}
{% endblock %}

{% block content %}
<div class="section"></div>
<div class="row">
    <div class="banner"></div>
    <div class="col s6">
        <div class="carousel">
            {% for image in images %}
            <a class="carousel-item" href="#one!"><img src="{{ image.image_url }}"></a>                  
            {% endfor %}
        </div>
    </div>
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ book.title }}</span>
                <p>
                    by {{ book.author.last_name }}, {{ book.author.first_name }}<br>
                    {{ book.publisher.company_name }} ({{ book.copyRightDate }})<br>
                    <br><b>ISBN10:</b>  {{ book.isbn10 }}
                    <br><b>ISBN13:</b>  {{ book.isbn13 }}<br>
                    <br><b>Details:</b><br>                    
                    {{ book.type }}<br>
                    {{ book.numberOfPages }} pages<br>
                    {{ book.genre.genre }}                    
                </p>
            </div>
            <div class="card-action">
                <a class="modal-trigger" href="#editbook">Edit</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ image_form.non_field_errors }}
            <div class="col s11">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Image</span>
                        {{ image_form.image.errors }}
                        {{ image_form.image }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>                    
                </div>
            </div>
            <div class="col s1">
                <button class="btn-floating btn-medium" type="submit" name="add-image">
                    <i class="large material-icons">file_upload</i>
                </button>               
            </div>
        </form>
    </div>
</div>

<div id="editbook" class="modal">
    <form method="POST" class="col s12">
        {% csrf_token %} 
        {{ book_form.non_field_errors }}
        <div class="modal-content">
            <h4>Edit Book</h4>
            <div class="row">
                <div class="row">
                    <div class="input-field col s6">
                        {{ book_form.title.errors }}
                        <label for="{{ book_form.title.id_for_label }}">Book Title</label>
                        {{ book_form.title }}
                    </div>
                    <div class="input-field col s6">
                        {{ book_form.authors.errors }} {{ book_form.authors }}
                        <label>Author</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ book_form.isbn10.errors }}
                        <label for="{{ book_form.isbn10.id_for_label }}">ISBN10</label>
                        {{ book_form.isbn10 }}
                    </div>
                    <div class="input-field col s6">
                        {{ book_form.isbn13.errors }}
                        <label for="{{ book_form.isbn13.id_for_label }}">ISBN13</label>
                        {{ book_form.isbn13 }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        {{ book_form.copyright_date.errors }}
                        <label for="{{ book_form.copyright_date.id_for_label }}">Copyright Date</label>
                        {{ book_form.copyright_date|add_class:"datepicker" }}
                    </div>
                    <div class="input-field col s4">
                        {{ book_form.edition.errors }}
                        <label for="{{ book_form.edition.id_for_label }}">Edition</label>
                        {{ book_form.edition }}
                    </div>
                    <div class="input-field col s4">
                        {{ book_form.publishers.errors }} {{ book_form.publishers }}
                        <label>Publisher</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        {{ book_form.book_type.errors }}
                        <label for="{{ book_form.book_type.id_for_label }}">Book Type</label>
                        {{ book_form.book_type }}
                    </div>
                    <div class="input-field col s4">
                        {{ book_form.num_pages.errors }}
                        <label for="{{ book_form.num_pages.id_for_label }}">Number of Pages</label>
                        {{ book_form.num_pages }}
                    </div>
                    <div class="input-field col s4">
                        {{ book_form.genres.errors }} {{ book_form.genres }}
                        <label>Genre</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            <button type="submit" class="modal-action waves-effect waves-green btn-flat" name="update-book" value="{{ book.bookID }}">Submit</button>
        </div>
    </form>
</div>
{{ notification }}

<script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/books.js" %}"></script> 
{% endblock %}