{% extends 'Store/layoutadmin.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block nav %}
  {% if user_id is none %}
    <li>You are currently logged out</li>
  {% else %}
    <li>Greetings, {{username}}</li>
  {% endif %}
{% endblock %} 
{% block content %}

<h1>INVENTORY</h1>
<table>
    <thead>
    <tr>
        <th> Book </th>
        <th> Quantity on Hand </th>
        <th> Quantity Ordered </th>
        <th>Cost</th>
        <th>Retail Price</th>
    </tr>
    </thead>
    {% for i in inventory %}
    <tr>
        <td> {{i.book.title}}</td>
        <td>{{i.quantity_on_hand}}</td>
        <td>{{i.quantity_ordered}}</td>
        <td> {{i.cost}}</td>
        <td>{{i.retail_price}}</td>
        <td><a href="{%url 'adminbookdetail' i.book_id %}"><i class=" material-icons tiny">edit</i></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}