{% extends 'Store/layout.html' %}
{% block nav %}
  {% if user_id is none %}
    <li>You are currently logged out</li>
  {% else %}
    <li><b>Greetings, {{username}}</li>
  {% endif %}
{% endblock %} 
{% block content %}
<h1>INVENTORY</h1>
<table>
    <thead>
    <tr>
        <th> Book </th>
        <th> Quantity on Hand </th>
        <th> Quantity Ordered </the>
    </tr>
    </thead>
    {% for i in inventory %}
    <tr>
        <td>{{i.book.title}}</td>
        <td>{{i.quantity_on_hand}}</td>
        <td>{{i.quantity_ordered}}</td>
        <td><a class="modal-trigger " href='#order{{i.book_id}}'><i class=" tiny material-icons">add_circle_outline</i></a></td>
    </tr>
    {% endfor %}
</table>
<div id='order{{i.book_id' class='modal'>
<form method="POST" class="col s6" >
       
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <button type="submit" class="modal-action waves-effect waves-green btn-flat" name="order">Order</button>
    </div>
</form>
</div>
{% endblock %}